body {
    /* background-color: aqua; */
    /* height: 1200px; */

}

body :first-child {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* gap: 307px; */
    align-items: center;
    width: 100%;
    height: 64px;
    /* background-color: rgb(49,152,120); */
}

#nav-top{
    background-color: rgb(49,152,120);
}

#app-container1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    width: 355px;
    height: 32px;
    margin-left: 148px;
    margin-top: 0px;
    /* background-color: red; */
}

#app-container1 img{
    width: 104px;
    height: 22px;
    margin-top: 1.5px;
}


#app-container1 a {
    width: 70px;
    height: 32px;
    font-size: 14px;
    font-weight: 700;
    padding-top: 5px;
    text-decoration: none;
    text-align: center;
    color: white;
    margin: 0px 11px 0px 24px;
    border: none;
    background-color: rgb(49,152,120);
    
}

#app-container1 :nth-child(3) {
    margin-left: 2px;
    width: 55px;
    height: 31px;
    font-size: 12px;
    font-weight: 400;
    margin-top:0px;
    color: white;
    border: 1.5px solid;
    border-color: rgb(30,114,104) rgb(42,152,119) rgb(30,114,104) rgb(30,114,104);
    border-radius: 5px 0px 0px 5px;
    background-color:  rgb(49,152,120);
}

#app-container1 :last-child {
    width: 55px;
    height: 31px;
    font-size: 12px;
    font-weight: 400;
    margin-top: 0px;
    color: white;
    border: 1.5px solid rgb(30,114,104);
    border-radius: 0px 5px 5px 0px;
    background-color: rgb(49,152,120);

}


#app-container2 {
    margin-left: 302px;
    width: 350px;
    height: 44px;
    /* background-color: rgb(61, 121, 201); */
    margin-top: -1px;
    display: flex;
    /* align-items: center; */
}


/* #navbar-2{
    justify-content: flex-start;
    align-items: center;
    align-items: flex-start;
    width: 400px;
    height: 44px;
    background-color: rgb(155, 57, 73);
}  */

.imgage {
    margin-top: 7px;
    height: 27px;
    width: 33px;
    /* background-color: brown; */
}

#app-container2 :first-child{
    height: 27px;
    width: 33px;
}


#app-container2 a{
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    margin-top: 12px;
    margin-left: 2.5px;
    background-color: rgb(8, 63, 45);
   
}

#app-container2 :nth-child(2) {
    height: 17px;
    width: 26px;
    margin-right: 28px;
}

#app-container2 :nth-child(4) {
    height: 17px;
    width: 30px;
    margin-right: 40px;
}

#app-container2 button {
    margin-left: 2px;
    height: 44px;
    width: 131px;
    color: #673500;
    font-weight: 600;
    font-size: 14px;
    line-height: 13px;
    background-color: rgb(255,202,61);
    border: none;
    border-radius: 5px;
}

body :nth-child(2) {
    /* width: 100%; */
    /* height: 1540px; */
    /* background-color: rgb(206, 103, 163); */
    margin-right: 10px;
}

body:last-child {
    width: 100%;
    height: 371px;
    /* background-color: yellow; */
}

#search {
    width: 100%;
    height: 186px;
    background-color: rgb(49,152,120);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color: yellow; */
}

#search1 {
    margin-top: 40px;
    margin-bottom: 16px;
    margin-left: 571px;
    height: 32px;
    width: 140px;
    background-color:rgb(40,132,111);
    /* background-color: blue; */
    border-radius: 16px;
}

#search :first-child :first-child{
    margin-left: 12px;
    height: 18px;
    width: 18px;
    border-radius: 0;
    font-size: 1rem;
    color: white;
    background-color:rgb(40,132,111);
    /* background-color: rgb(211, 214, 28); */
}

#search :first-child :last-child{
    margin-bottom: 6px;
    margin-left: 2px;
    height: 16px;
    width: 100px;
    text-align: start;
    font-size: 14px;
    color: white;
    padding: 0;
    /* background-color: rgb(28, 177, 214); */
    border: none;
    background-color:rgb(40,132,111);
}

#search-bar{
    margin-left: 243px;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 58px;
    width: 796px;
    background-color:white;
    border-radius: 29px;
}

#text-field {
    height: 28px;
    width: 689px;
    background-color: white;
    border: none;
    margin: 0px 30px 0px 22px;
    /* background-color: aqua; */
}


#search-bar ion-icon {
    width: 50px;
    height: 50px;
    padding: 10px;
    font-size: 1rem;
    font-size: 50%;
    font-weight: 700;
    border-radius: 50%;
    margin-right: 4px;
    color: #673500;
    
    background-color: rgb(255,202,61);
}

#body {
    /* background-color: rgb(119, 89, 187); */
    display: flex;
    flex-wrap: wrap;
    align-content: start;
}

#body > :first-child {
    margin-top: 12px;
    margin-left: 156px; 
    background-color: rgb(209, 14, 121);
    height: 90px;
    width: 970px;
    border: 1px solid red;
}

#body > :nth-child(2) {
    margin-left: 148px;
    margin-top: 24px;
    display: inline-block;
    background-color: rgb(236, 207, 75);
    padding-top: 1px;
    padding-bottom: 0px;
    height: 24px;
    width: 985px;
    font-weight: 600;
    font-size: 14px;
}

#body > :nth-child(3) {
    margin-left: 148px;
}
#body > :nth-child(7) {
    margin-left: 148px;
}
#body > :nth-child(11) {
    margin-left: 148px;
}
#body > :nth-child(15) {
    margin-left: 148px;
}

.icon {
    /* background-color: pink; */
    height: 108px;
    width: 246px;
    border: 1px solid black;
}

.icon:hover{
    cursor: pointer;
}

#catagory-1 {
    background-color: black;
    display: flex;
    flex-flow: column wrap;
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-shrink: 0;
}

#catagory-1 :first-child{
    margin: 24px 0px 24px 16px;
    height: 60px;
    width: 60px;
    /* background-color: rgb(197, 135, 135); */
    
}

#catagory-1 :nth-child(2){
    display: inline-block;
    margin-left: 0px;
    margin-top: 30px;
    height: 27px;
    width: 180px;
    font-size: 15.8px;
    /* background-color: rgb(235, 172, 95); */
}

#catagory-1 :last-child{
    height: 21px;
    width: 88px;
    margin-left: 0px;
    margin-top: -8px;
    font-size: 12px;
    /* background-color: rgb(30, 202, 188); */
}


#catagory-2 {
    background-color: pink;
    display: flex;
    flex-flow: column wrap;
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-shrink: 0;
}

#catagory-2 :first-child{
    margin: 24px 0px 24px 16px;
    height: 60px;
    width: 60px;
    /* background-color: rgb(182, 27, 27); */
    
}

#catagory-2 :nth-child(2){
    display: inline-block;
    margin-left: 0px;
    margin-top: 30px;
    height: 27px;
    width: 124px;
    font-size: 16px;
    /* background-color: rgb(204, 133, 47); */
}

#catagory-2 :last-child{
    height: 21px;
    width: 75px;
    font-size: 12px;
    margin-left: 0px;
    margin-top: -8px;
    /* background-color: rgb(30, 202, 188); */
}


#catagory-3 {
    background-color: black;
    display: flex;
    flex-flow: column wrap;
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-shrink: 0;
}

#catagory-3 :first-child{
    margin: 24px 0px 24px 16px;
    height: 60px;
    width: 60px;
    /* background-color: rgb(197, 135, 135); */
    
}

#catagory-3 :nth-child(2){
    display: inline-block;
    margin-left: 0px;
    margin-top: 30px;
    height: 27px;
    width: 124px;
    font-size: 16px;
    /* background-color: rgb(235, 172, 95); */
}

#catagory-3 :last-child{
    height: 21px;
    width: 75px;
    margin-left: 0px;
    margin-top: -8px;
    font-size: 12px;
    /* background-color: rgb(30, 202, 188); */
}



#catagory-4 {
    background-color: pink;
    display: flex;
    flex-flow: column wrap;
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-shrink: 0;
}

#catagory-4 :first-child{
    margin: 24px 0px 24px 16px;
    height: 60px;
    width: 60px;
    background-color: rgb(182, 27, 27);
    
}

#catagory-4 :nth-child(2){
    display: inline-block;
    margin-left: 0px;
    margin-top: 30px;
    height: 27px;
    width: 124px;
    font-size: 16px;
    /* background-color: rgb(204, 133, 47); */
}

#catagory-4 :last-child{
    height: 21px;
    width: 75px;
    font-size: 12px;
    margin-left: 0px;
    margin-top: -8px;
    /* background-color: rgb(30, 202, 188); */
}


#catagory-5 {
    /* background-color: pink; */
    display: flex;
    flex-flow: column wrap;
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-shrink: 0;
}

#catagory-5 :first-child{
    margin: 24px 0px 24px 16px;
    height: 60px;
    width: 60px;
    /* background-color: rgb(182, 27, 27); */
    
}

#catagory-5 :nth-child(2){
    display: inline-block;
    margin-left: 0px;
    margin-top: 30px;
    height: 27px;
    width: 124px;
    font-size: 16px;
    /* background-color: rgb(204, 133, 47); */
}

#catagory-5 :last-child{
    height: 21px;
    width: 75px;
    font-size: 12px;
    margin-left: 0px;
    margin-top: -8px;
    /* background-color: rgb(30, 202, 188); */
}


#catagory-6 {
    background-color: black;
    display: flex;
    flex-flow: column wrap;
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-shrink: 0;
}

#catagory-6 :first-child{
    margin: 24px 0px 24px 16px;
    height: 60px;
    width: 60px;
    /* background-color: rgb(197, 135, 135); */
    
}

#catagory-6 :nth-child(2){
    display: inline-block;
    margin-left: 0px;
    margin-top: 30px;
    height: 27px;
    width: 170px;
    font-size: 16px;
    /* background-color: rgb(235, 172, 95); */
}

#catagory-6 :last-child{
    height: 21px;
    width: 75px;
    margin-left: 0px;
    margin-top: -8px;
    font-size: 12px;
    /* background-color: rgb(30, 202, 188); */
}

#catagory-7 {
    /* background-color: pink; */
    display: flex;
    flex-flow: column wrap;
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-shrink: 0;
}

#catagory-7 :first-child{
    margin: 24px 0px 24px 16px;
    height: 60px;
    width: 60px;
    /* background-color: rgb(182, 27, 27); */
    
}

#catagory-7 :nth-child(2){
    display: inline-block;
    margin-left: 0px;
    margin-top: 30px;
    height: 27px;
    width: 124px;
    font-size: 16px;
    /* background-color: rgb(204, 133, 47); */
}

#catagory-7 :last-child{
    height: 21px;
    width: 75px;
    font-size: 12px;
    margin-left: 0px;
    margin-top: -8px;
    /* background-color: rgb(30, 202, 188); */
}

#catagory-8 {
    background-color: rgb(115, 209, 72);
    display: flex;
    flex-flow: column wrap;
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-shrink: 0;
}

#catagory-8 :first-child{
    margin: 24px 0px 24px 16px;
    height: 60px;
    width: 60px;
    /* background-color: rgb(197, 135, 135); */
    
}

#catagory-8 :nth-child(2){
    display: inline-block;
    margin-left: 0px;
    margin-top: 30px;
    height: 27px;
    width: 160px;
    font-size: 16px;
    background-color: rgb(235, 172, 95);
}

#catagory-8 :last-child{
    height: 21px;
    width: 75px;
    margin-left: 0px;
    margin-top: -8px;
    font-size: 12px;
    background-color: rgb(207, 59, 59);
}

#catagory-9 {
    background-color: rgb(24, 5, 8);
    display: flex;
    flex-flow: column wrap;
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-shrink: 0;
}

#catagory-9 :first-child{
    margin: 24px 0px 24px 16px;
    height: 60px;
    width: 60px;
    /* background-color: rgb(182, 27, 27); */
    
}

#catagory-9 :nth-child(2){
    display: inline-block;
    margin-left: 0px;
    margin-top: 30px;
    height: 27px;
    width: 124px;
    font-size: 16px;
    /* background-color: rgb(204, 133, 47); */
}

#catagory-9 :last-child{
    height: 21px;
    width: 75px;
    font-size: 12px;
    margin-left: 0px;
    margin-top: -4px;
    /* background-color: rgb(30, 202, 188); */
}



#catagory-10 {
    background-color: pink;
    display: flex;
    flex-flow: column wrap;
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-shrink: 0;
}

#catagory-10 :first-child{
    margin: 24px 0px 24px 16px;
    height: 60px;
    width: 60px;
    /* background-color: rgb(182, 27, 27); */
    
}

#catagory-10 :nth-child(2){
    display: inline-block;
    margin-left: 0px;
    margin-top: 30px;
    height: 27px;
    width: 170px;
    font-size: 16px;
    /* background-color: rgb(204, 133, 47); */
}

#catagory-10 :last-child{
    height: 21px;
    width: 75px;
    font-size: 12px;
    margin-left: 0px;
    margin-top: -8px;
    background-color: rgb(24, 87, 81);
}


#catagory-11 {
    /* background-color: black; */
    display: flex;
    flex-flow: column wrap;
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-shrink: 0;
}

#catagory-11 :first-child{
    margin: 24px 0px 24px 16px;
    height: 60px;
    width: 60px;
    /* background-color: rgb(197, 135, 135); */
    
}

#catagory-11 :nth-child(2){
    display: inline-block;
    margin-left: 0px;
    margin-top: 30px;
    height: 27px;
    width: 124px;
    font-size: 16px;
    /* background-color: rgb(235, 172, 95); */
}

#catagory-11 :last-child{
    height: 21px;
    width: 75px;
    margin-left: 0px;
    margin-top: -8px;
    font-size: 12px;
    /* background-color: rgb(30, 202, 188); */
}

#catagory-12 {
    /* background-color: pink; */
    display: flex;
    flex-flow: column wrap;
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-shrink: 0;
}

#catagory-12 :first-child{
    margin: 24px 0px 24px 16px;
    height: 60px;
    width: 60px;
    /* background-color: rgb(182, 27, 27); */
    
}

#catagory-12 :nth-child(2){
    display: inline-block;
    margin-left: 0px;
    margin-top: 30px;
    height: 27px;
    width: 124px;
    font-size: 16px;
    /* background-color: rgb(204, 133, 47); */
}

#catagory-12 :last-child{
    height: 21px;
    width: 75px;
    font-size: 12px;
    margin-left: 0px;
    margin-top: -8px;
    /* background-color: rgb(30, 202, 188); */
}

#catagory-13 {
    /* background-color: rgb(224, 164, 164); */
    display: flex;
    flex-flow: column wrap;
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-shrink: 0;
}

#catagory-13 :first-child{
    margin: 24px 0px 24px 16px;
    height: 60px;
    width: 60px;
    /* background-color: rgb(197, 135, 135); */
    
}

#catagory-13 :nth-child(2){
    display: inline-block;
    margin-left: 0px;
    margin-top: 30px;
    height: 27px;
    width: 170px;
    font-size: 16px;
    /* background-color: rgb(235, 172, 95); */
}

#catagory-13 :last-child{
    height: 21px;
    width: 75px;
    margin-left: 0px;
    margin-top: -8px;
    font-size: 12px;
    /* background-color: rgb(30, 202, 188); */
}

#catagory-14 {
    /* background-color: rgb(22, 12, 13); */
    display: flex;
    flex-flow: column wrap;
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-shrink: 0;
}

#catagory-14 :first-child{
    margin: 24px 0px 24px 16px;
    height: 60px;
    width: 60px;
    /* background-color: rgb(182, 27, 27); */
    
}

#catagory-14 :nth-child(2){
    display: inline-block;
    margin-left: 0px;
    margin-top: 30px;
    height: 27px;
    width: 124px;
    font-size: 16px;
    /* background-color: rgb(204, 133, 47); */
}

#catagory-14 :last-child{
    height: 21px;
    width: 75px;
    font-size: 12px;
    margin-left: 0px;
    margin-top: -8px;
    /* background-color: rgb(30, 202, 188); */
}

#catagory-15 {
    /* background-color: pink; */
    display: flex;
    flex-flow: column wrap;
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-shrink: 0;
}

#catagory-15 :first-child{
    margin: 24px 0px 24px 16px;
    height: 60px;
    width: 60px;
    /* background-color: rgb(182, 27, 27); */
    
}

#catagory-15 :nth-child(2){
    display: inline-block;
    margin-left: 0px;
    margin-top: 30px;
    height: 27px;
    width: 124px;
    font-size: 16px;
    /* background-color: rgb(204, 133, 47); */
}

#catagory-15 :last-child{
    height: 21px;
    width: 75px;
    font-size: 12px;
    margin-left: 0px;
    margin-top: -8px;
    /* background-color: rgb(30, 202, 188); */
}


.add {
    margin-top: 42px;
    /* background-color: rgb(120, 143, 192); */
    height: 235px;
    width: 493px;
    border: 1px solid black;
}


#content {
    margin-left: 148px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    align-self: flex-start;
    justify-content: start;
    /* background-color: blue; */
}

#content >img{
    height: 167px;
    width: 118px;
    /* background-color: rgb(173, 29, 29); */
    margin: 32px 0px 36px 32px;
    
}

#content >h1{
    display: inline-block;
    margin-left: 32px;
    margin-top: 31px;
    padding-top: 0;
    height: 28px;
    width: 210px;
    line-height: 28px;
    font-size: 20px;
    font-weight: 700;
    /* background-color: rgb(122, 37, 94); */
}

#content :nth-child(3){
    height: 38px;
    width: 279px;
    margin-left: 32px;
    margin-top: 8px;
    margin-left: 32px;
    padding-top: 0px;
    padding-right: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    /* background-color: rgb(27, 228, 211); */
}

#btn-post{
    height: 40px;
    width: 200px;
    margin-left: 32px;
    margin-bottom: 35px;
    margin-top: 8px;
    margin-right: 31px;
    padding: 12px 6px 12px 10px;
    font-size: 14px;
    font-weight: 800;
    line-height: 16px;
    border-radius: 28px;
    background-color: rgb(255,202,61);
    color: #673500;
    border: none;
    display: flex;
    flex-direction: row;
}



#btn-post>i{
    margin: 0;
    width: 16px;
    height: 16px;
    color: #673500;
    background-color: rgb(255,202,61);
}

#btn-post>span{
    width: 193px;
    height: 16px;
    background-color: rgb(255,202,61);
    color: #673500;
    margin-top: 0px;
    margin-left: 8px;
    font-size: 14px;
}


#content-2 {
    margin-left: 0px;
    display: flex;
    flex-flow: row wrap;
    align-items: start;
    align-self: flex-start;
    justify-content: start;
    border-left: 0;
}

#content-2 > img{
    height: 30px;
    width: 428px;
    /* background-color: rgb(163, 26, 26); */
    margin: 32px 0px 5px 32px;
    
}

#content-2 > p{
    display: inline-block;
    margin-left: 32px;
    margin-top: 0px;
    height: 38px;
    width: 425px;
    line-height: 19px;
    font-size: 14px;
    font-weight: 400;
    /* background-color: rgb(44, 116, 41); */
}


#btn-explore{
    height: 40px;
    width: 200px;
    margin-left: 32px;
    margin-bottom: 35px;
    padding: 0px 0px;
    font-size: 13px;
    font-weight: 800;
    line-height: 16px;
    border-radius: 28px;
    color:white;
    background-color: rgb(0,116,186);
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#btn-explore > div{
    background-color:rgb(0,116,186);
    width: 98px;
    height: 16px;
    margin-left: 41px;
    margin-top: 12px;
    font-size: 14px;
    font-weight: 600;
}

#btn-explore > i{
    margin-top: 12px;
    background-color: rgb(0,116,186);    
    border: none;
    width: 16px;
    height: 16px;
    font-size: 1rem;
    border-radius: 50%;
    margin-left: 3px;
}

#content-3 {
    width: 100%;
    height: 260px;
    /* background-color: lime; */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

#col  {
    margin-top: 42px;
    padding-top: 7px;
    width: 100%;
    height: 24px;
    /* background-color: rgb(145, 23, 23); */
}

#col>h3 {
    /* background-color: rgb(122, 155, 5); */
    margin-left: 148px;
    width: 100px;
    height: 24px;
    font-weight: 600;
    font-size: 14px;
}

/* #content-3 :nth-child(2) {
    margin-top: 0px;
    width: 234px;
    height: 150px;
    margin-right: 0px;
    background-color: #b5e1e7;
} */

#content-3 .boxs {

    width: 234px;
    height: 152px;
    margin-top: -11px;
    background-color: #b5e1e7;
}

#description {
    width: 100%;
    height: 186px;
    /* background-color: rgb(25, 23, 148); */
}


#col1{
    margin-left: 148px;
    background-color: rgb(243,246,245);
}

#col2,
#col3,
#col4 {
    margin-left: 15px;
    background-color: rgb(243,246,245);
}

#col1 h3{
    /* background-color: rgb(109, 197, 168); */
     font-size: 14px;
    font-weight: 800;
    line-height: 20px;
     width: 212px;
     height: 20px;
     margin: 11px 11px 8px 11px;
    
} 

#col1 p{
    /* background-color: rgb(136, 218, 115); */
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    width: 210px;
    height: 96px;
    margin: 0px 11px 11px 11px;
    padding: 0px 3px 0px 0px;
}

#col2 h3{
    justify-content: start;
    /* background-color: rgb(26, 105, 79); */
    font-size: 14px;
    font-weight: 800;
    line-height: 24px;
    width: 210px;
    height: 20px;
    margin: 11px;
}

#col2 p{
   /* background-color: rgb(214, 115, 218); */
   font-size: 14px;
    font-weight: 400;
    line-height: 24px;
   width: 210px;
   height: 96px;
   margin: 0px 11px 11px 11px;
   padding: 0px 1px 0px 0px;
}

#col3 h3{
    justify-content: start;
    background-color: rgb(243,246,245);
    font-size: 14px;
    font-weight: 800;
    line-height: 24px;
    width: 210px;
    height: 24px;
    margin: 11px;
}

#col3 p{
   /* background-color: rgb(214, 115, 218); */
   font-size: 14px;
    font-weight: 400;
    line-height: 24px;
   width: 210px;
   height: 72px;
   margin: 0px 11px 11px 11px;
   padding: 0px 10px 0px 0px;
}

#col4 h3{
    justify-content: start;
    background-color: rgb(243,246,245);
    font-size: 14px;
    font-weight: 800;
    line-height: 24px;
    width: 210px;
    height: 24px;
    margin: 11px;
}

#col4 p{
   /* background-color: rgb(214, 115, 218); */
   font-size: 14px;
    font-weight: 400;
    line-height: 24px;
   width: 210px;
   height: 72px;
   margin: 0px 11px 11px 11px;
   padding: 0px 20px 0px 0px;
}

#description{
    font-size: 13px;
     justify-content: center;
     align-items: center;
}

#description :first-child {
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin-left: 148px;
    margin-top: 24px;
    /* background-color: #673500; */
    width: 985px;
    height: 27px;
    padding-top: 5px;
}

#description :nth-child(2){
    margin-left: 148px;
    /* background-color: yellow; */
    width: 985px;
    height: 48px;
}
#description :last-child{
    margin-left: 148px;
    background-color: red;
    width: 985px;
    height: 48px;
}

#footer{
    margin-top: -14px;
    height: 200px;
    width: 985px;
    margin-left: 148px;
    background-color: rgb(133, 117, 45);
    display: flex;
    flex-direction: row;
}



#footer-wrapper{
    height: 236px;
    width: 100%;
    background-color: rgb(139, 238, 46);
    margin-top:0px;  
    border-top: 2px solid green;

}


#footer-main{
    flex-direction: column;
    justify-content: flex-start;
    height: 236px;
    width: 328px;
    background-color: rgb(24, 88, 172);
    margin-top:15px;                      
    /* <------------------------------------------------------------------------------------------------------> */
}





.footer-boxs{
    font-size: 14px;
    line-height: 20px;
    height: 236px;
    width: 164px;
    /* background-color: rgb(30, 111, 165); */
    text-align: start;
    margin-top: 104px;
}

#fb1{
    height: 236px;
    width: 164px;
}

.social-act{
    width: 328px;
    height: 24px;
    /* background-color: rgb(0, 255, 213); */
    font-size: 14px;
    font-weight: 600;
}

#footer-main > img {
    margin-top: -23px;
    margin-bottom: 24px;
    margin-left: 7px;
    width: 328px;
    height: 40px;
}

#fb{
    display: flex;
    flex-direction: row;
    width: 328px;
    height: 32px;
    /* margin-bottom: 1px; */
    background-color: rgb(172, 120, 24);
    margin-top: -12px;
    margin-bottom: 12px;
}


#fb > img {
    margin-top: 4px;
    width: 24px;
    height: 24px;
}
#fb>p {
    background-color: rgb(241, 226, 14);
    /* color: blue; */
    font-weight: 700;
    padding-top: 3px;
    margin-left: 8px;
    font-size: 14px;
    margin-top: 4px;
    width: 165px;
    height: 19px;
}

#country{
    background-color: rgb(34, 85, 29);
    font-size: 14px;
    width: 328px;
    margin-top: -12px;
    font-weight: 400;
}


#rights{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 92px;
    width: 985px;
    margin-left: 148px;
    background-color: rgb(200, 116, 221);
    border-top: 2px solid lightgray;
    margin-top: 29px;
    
}

#rights>p{
    margin-top: 22px;
    height: 22px;
    width: 225px;
    font-size: 14px;
}

#rights>img{
    margin-top: 22px;
    height: 25px;
    width: 92px;
}

#c1,
#c2,
#c3,
#c4{
    height: 164px;
    background-color: yellow;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: -20px;
}

c4{
    margin-right: 0px;
}

.sub-topics{
    height: 24px;
    width: 164px;
    /* background-color: rgb(168, 38, 59); */
    font-weight: 700;
    margin-top: -43px;
}



